# {{ ansible_managed }}

[Unit]
Description="{{ systemd_mount['item'].description | default("Automount for" + item) }}"
{% if systemd_mount[item].wants is defined %}
Wants={{ systemd_mount[item].wants }}
{% endif -%}
{% if systemd_mount[item].requires is defined %}
Requires={{ systemd_mount[item].requires }}
{% endif -%}
{% if systemd_mount[item].after is defined %}
After={{ systemd_mount[item].after }}
{% endif -%}
{% if systemd_mount[item].execstartpre is defined %}
ExecStartPre={{ systemd_mount[item].execstartpre }}
{% endif -%}
{{''}}

[Automount]
{% if systemd_mount[item].where is defined %}
Where={{ systemd_mount[item].where }}
{% endif -%}
{{''}}

[Install]
{% if systemd_mount[item].wanted_by is defined %}
WantedBy={{ systemd_mount[item].wanted_by }}
{% endif -%}