# {{ ansible_managed }}

[Unit]
Description="{{ systemd_timer['item'].description | default("Timer for " + item) }}"

[Timer]
{% if systemd_timer[item].when is defined %}
OnCalendar={{ systemd_timer[item].when }}
{% endif -%}

[Install]
{% if systemd_timer[item].wanted_by is defined %}
WantedBy={{ systemd_timer[item].wanted_by }}
{% endif -%}
{% if systemd_timer[item].required_by is defined %}
RequiredBy={{ systemd_timer[item].required_by }}
{% endif %}